@font-face {
    font-family: 'Dosis';
    src: url('../assets/fonts/fonts/Dosis/Dosis-VariableFont:wght.ttf');
}
@font-face {
    font-family: 'Gupter';
    src: url('../assets/fonts/fonts/Gupter/Gupter-Regular.ttf');
}
@font-face {
    font-family: 'Inria-Serif';
    src: url('../assets/fonts/fonts/Inria_Serif/InriaSerif-Regular.ttf');
}
@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/fonts/Merriweather/Merriweather-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/fonts/Poppins/Poppins-Regular.ttf');
}
p {
    font-family: 'Poppins';
}
h2 {
    font-family: 'Merriweather';
}
a {
    font-family: 'Merriweather';
}
h3 {
    font-family: 'Merriweather';
}
img {
    margin-bottom: 0rem;
}
.container {
    position: relative;
    text-align: center;
    color: white;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 25px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 0%;
    padding-left: 45%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
}

.taCenter {
    text-align: center;
}
