@font-face {
    font-family: 'Merriweather';
    src: url('../assets/fonts/fonts/Merriweather/Merriweather-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/fonts/Poppins/Poppins-Regular.ttf');
}
body {
    font-family: 'Poppins';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Merriweather';
}

h4 {
    font-family: 'Merriweather';
    font-style: italic;
}
.container {
    max-width: 1111px;
    width: 90%;
    margin: 0 auto;
}
.container.skinny {
    max-width: 888px;
}
.SinglePost {
    background: whitesmoke;
}

.section {
    width: 100%;
    padding: 5rem 0;
    border-bottom: 1px solid #f1f1f1;
}
